/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #444;
  font-family: "Montserrat", sans-serif;
  background: url(../img/gray-bg.png) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #1bb1dc;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: rgba(0, 0, 0, 0.8);
  height: 40px;
  font-size: 16px;
  transition: all 0.5s;
}

#topbar.topbar-transparent {
  background: transparent;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #ffffff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #c7c6c6;
}

#topbar .contact-info i {
  color: rgb(12, 182, 225);
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links i {
  color: #ffffff;
  padding: 4px;
  transition: 0.3s;
}

#topbar .social-links i:hover {
  color: rgb(12, 182, 225);
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(12, 182, 225, 0.9);;
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  top: 40px;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: #fff;
  background-color: rgba(12, 182, 225, 0.9);
}

#header .logo {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo a {
  color: #413e66;
}

#header .logo img {
  max-height: 60px;
}

@media (max-width: 991px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.dropdown-menu {
	min-width: 200px;
}

.dropdown-menu span {
	padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-menu.columns-2 {
	min-width: 500px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
  }
}

@media (max-width: 991px){
  .dropdown-menu {
    position: relative;
    background-color: transparent;;
  }

  .dropdown-menu .row {
    flex-wrap: nowrap;
  }

  .dropdown-menu span {
    color: #e3e3e3;
  }
}

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  /* white-space: nowrap; */
  float: left;
  padding-left: 30px;
}

.main-nav a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #43f7f7;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% - 10px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
#breadcrumbs {
  padding: 15px 0;
  background: #f9f9fb;
  min-height: 40px;
  margin-top: 110px;
}

@media (max-width: 992px) {
  #breadcrumbs {
    margin-top: 58px;
  }
}

#breadcrumbs h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

#breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

#breadcrumbs ol li + li {
  padding-left: 10px;
}

#breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #555186;
  content: "/";
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(https://media.giphy.com/media/3o7aD9f9eDGdJLP7AQ/giphy.gif) center top no-repeat fixed;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .home-white {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .home-white img {
  max-width: 470px;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

#hero .social-buttons h3 {
  font-size: 20px;
  color: #fff;
}

#hero .social-buttons .btn-get-started {
  font-size: 25px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.3s;
  margin: 10px;
  background: rgba(12, 182, 225, 0.9);
  min-width: 91px;
}

#hero .social-buttons .btn-get-started i {
  display: block;
  color: #fff;
}

#hero .btn-get-started:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #05a9f0, #01d73b);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (max-width: 768px) {
  #hero .home-white img {
    max-width: 350px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f5f8fd;
}

/* Manifest Section
--------------------------------*/
#manifest {
  padding: 80px 0;
  background: url(../img/gray-bg.png) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #manifest .container {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
} */

#manifest .manifest-content {
  padding-top: 40px;
}

#manifest .manifest-content h2 {
  color: #413e66;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}

#manifest .manifest-content h3 {
  color: #696592;
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
}

#manifest .manifest-content p {
  font-size: 20px;
  text-align: justify;
  color: #000;
}

#manifest .manifest-content ul {
  list-style: none;
  padding: 0;
}

#manifest .manifest-content ul li {
  padding-bottom: 10px;
}

#manifest .manifest-content ul li i {
  font-size: 20px;
  padding-right: 4px;
  color: #1bb1dc;
}

#manifest .manifest-img {
  position: relative;
  margin: 30px 30px 30px 30px;
}

#manifest .manifest-img img {
  width: 100%;
  border: 8px solid #fff;
  position: absolute;
  top: 45px;
  transform: scale(1.1);
}

/* #manifest .manifest-img img:hover {
  width: 100%;
} */

#manifest .manifest-img::before {
  position: absolute;
  left: -31px;
  top: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

#manifest .manifest-img::after {
  position: absolute;
  right: -31px;
  bottom: -30px;
  width: 90%;
  height: 92%;
  z-index: -1;
  content: '';
  background-color: #ebf1fa;
  transition: .5s;
}

@media (max-width: 991px) {
  #manifest .manifest-img img {
    width: 100%;
    border: 8px solid #fff;
    position: absolute;
    top: 190px;
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  #manifest .manifest-img img {
    width: 100%;
    border: 8px solid #fff;
    transform: scale(1.1);
    position: relative;
    top: 0;
  }
}

/* Quote Section
--------------------------------*/
#quote {
  background: #2d2b46;
  /* background: linear-gradient(rgba(18, 17, 27, 0.2), rgba(18, 17, 27, 0.2)), url(../img/blue-bg.png) fixed center center; */
  background: url(../img/blue-bg.png) fixed center center;
  background-size: cover;
  padding: 40px 0;
}

#quote .quote-container {
  text-align: center;
  padding-top: 20px;
}

#quote .quote-container blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
 }

#quote .quote-container blockquote p {
  color: #fff;
  line-height: 1.4 !important;
}

#quote .quote-container cite {
  color: #fff;
  display: block;
  font-size: 0.8em;
}

#quote .quote-container cite span {
  color: #fff;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

#quote .img-container {
  padding: 15px;
  text-align: center;
}

#quote .img-container img {
  border: 3px solid #9cc1d3;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* position: absolute;
  top: -0.2em;
  left: 0; */
}

/* ODS Section
--------------------------------*/
#ods {
  padding: 60px 0 40px 0;
}

#ods .section-header{
  text-align: center;
  padding-bottom: 20px;
}

#ods .section-header img {
  max-width: 100%;
}

#ods .box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
  /* margin: 0 10px 10px 10px; */
  /* background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1); */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#ods .box:hover {
  transform: scale(1.1);
}

#ods .box img {
  max-width: 200px;
}

#ods .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#ods .icon i {
  font-size: 36px;
  line-height: 1;
}

#ods .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#ods .title a {
  color: #111;
}

#ods .box:hover .title a {
  color: #1bb1dc;
}

#ods .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

/* Action Axis Section
--------------------------------*/
#action-axis {
  padding: 60px 0;
}

#action-axis .action-axis img {
  max-width: 1050px;
}

@media (max-width: 991px) {
  #action-axis .action-axis img {
    max-width: 100%;
  }
}

/* Services Section
--------------------------------*/
#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .box img {
  max-width: 100%;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  /* background: #2d2b46; */
  background: url(../img/blue-bg.png);
  background-size: cover;
  padding: 10px 0;
}

/* Call To Action Section
--------------------------------*/
#call-to-action_1 {
  /* background: #2d2b46; */
  background: url(../img/gray-bg.png);
  background-size: cover;
  padding: 10px 0;
}

/* Aprende a Emprender Section
--------------------------------*/
#aprende {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #aprende .aprende-content {
    padding-top: 30px;
  }
}

#aprende .aprende-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #aprende .aprende-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#aprende .aprende-content .targets {
  text-align: center;
}

#aprende .aprende-content .targets h3, #aprende .action-axis h3 {
  font-size: 18px;
}

#aprende .aprende-content .targets img {
  max-width: 80px;
}

#aprende .aprende-content p {
  margin-top: 30px;
  font-size: 20px;
}

#aprende .action-axis {
  text-align: center;
}

#aprende .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #aprende .aprende-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Foro Aspira Section
--------------------------------*/
#foro {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #foro .foro-content {
    padding-top: 30px;
  }
}

#foro .foro-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #foro .foro-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#foro .foro-content .targets {
  text-align: center;
}

#foro .foro-content .targets h3, #foro .action-axis h3 {
  font-size: 18px;
}

#foro .foro-content .targets img {
  max-width: 80px;
}

#foro .foro-content p {
  margin-top: 30px;
  font-size: 20px;
}

#foro .action-axis {
  text-align: center;
}

#foro .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #foro .foro-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Festival del Mole Section
--------------------------------*/
#mole {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #mole .mole-content {
    padding-top: 30px;
  }
}

#mole .mole-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #mole .mole-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#mole .mole-content .targets {
  text-align: center;
}

#mole .mole-content .targets h3, #mole .action-axis h3 {
  font-size: 18px;
}

#mole .mole-content .targets img {
  max-width: 80px;
}

#mole .mole-content p {
  margin-top: 30px;
  font-size: 20px;
}

#mole .action-axis {
  text-align: center;
}

#mole .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #mole .mole-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Reconstruyendo Esperanza Section
--------------------------------*/
#reconstruyendo {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #reconstruyendo .reconstruyendo-content {
    padding-top: 30px;
  }
}

#reconstruyendo .reconstruyendo-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #reconstruyendo .reconstruyendo-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#reconstruyendo .reconstruyendo-content .targets {
  text-align: center;
}

#reconstruyendo .reconstruyendo-content .targets h3, #reconstruyendo .action-axis h3 {
  font-size: 18px;
}

#reconstruyendo .reconstruyendo-content .targets img {
  max-width: 80px;
}

#reconstruyendo .reconstruyendo-content p {
  margin-top: 30px;
  font-size: 20px;
}

#reconstruyendo .action-axis {
  text-align: center;
}

#reconstruyendo .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #reconstruyendo .reconstruyendo-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* PFLF Section
--------------------------------*/
#pflf {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #pflf .pflf-content {
    padding-top: 30px;
  }
}

#pflf .pflf-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #pflf .pflf-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#pflf .pflf-content .targets {
  text-align: center;
}

#pflf .pflf-content .targets h3, #pflf .action-axis h3 {
  font-size: 18px;
}

#pflf .pflf-content .targets img {
  max-width: 80px;
}

#pflf .pflf-content p {
  margin-top: 30px;
  font-size: 20px;
}

#pflf .action-axis {
  text-align: center;
}

#pflf .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #pflf .pflf-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* CAI Section
--------------------------------*/
#cai {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #cai .cai-content {
    padding-top: 30px;
  }
}

#cai .cai-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

#cai .cai-content .targets {
  text-align: center;
}

#cai .cai-content .targets h3, #cai .action-axis h3 {
  font-size: 18px;
}

#cai .cai-content .targets img {
  max-width: 80px;
}

#cai .cai-content p {
  margin-top: 30px;
  font-size: 20px;
}

#cai .action-axis {
  text-align: center;
}

#cai .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #cai .cai-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Bootcamp Section
--------------------------------*/
#bootcamp {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #bootcamp .bootcamp-content {
    padding-top: 30px;
  }
}

#bootcamp .bootcamp-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #bootcamp .bootcamp-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#bootcamp .bootcamp-content .targets {
  text-align: center;
}

#bootcamp .bootcamp-content .targets h3, #bootcamp .action-axis h3 {
  font-size: 18px;
}

#bootcamp .bootcamp-content .targets img {
  max-width: 80px;
}

#bootcamp .bootcamp-content p {
  margin-top: 30px;
  font-size: 20px;
}

#bootcamp .action-axis {
  text-align: center;
}

#bootcamp .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #bootcamp .bootcamp-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Nuestra Comunidad Section
--------------------------------*/
#comunidad {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #comunidad .comunidad-content {
    padding-top: 30px;
  }
}

#comunidad .comunidad-img img {
  width: 100%;
  display: block;
  margin: auto;
}

#comunidad .comunidad-content .targets {
  text-align: center;
}

#comunidad .comunidad-content .targets img {
  max-width: 80px;
}

#comunidad .comunidad-content p {
  margin-top: 30px;
  font-size: 24px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: justify;
  padding-top: 30px;
}

#comunidad .action-axis {
  text-align: center;
}

#comunidad .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #comunidad .comunidad-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }

  #comunidad .comunidad-content p {
    padding-top: 0;
  }
}

/* FPM Section
--------------------------------*/
#fpm {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #fpm .fpm-content {
    padding-top: 30px;
  }
}

#fpm .fpm-img img.program {
  max-width: 600px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #fpm .fpm-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#fpm .fpm-content .targets {
  text-align: center;
}

#fpm .fpm-content .targets h3, #fpm .action-axis h3 {
  font-size: 18px;
}

#fpm .fpm-content .targets img {
  max-width: 80px;
}

#fpm .fpm-content p {
  margin-top: 30px;
  font-size: 20px;
}

#fpm .action-axis {
  text-align: center;
}

#fpm .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #fpm .fpm-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* EPV Section
--------------------------------*/
#epv {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #epv .epv-content {
    padding-top: 30px;
  }
}

#epv .epv-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #epv .epv-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#epv .epv-content .targets {
  text-align: center;
}

#epv .epv-content .targets h3, #epv .action-axis h3 {
  font-size: 18px;
}

#epv .epv-content .targets img {
  max-width: 80px;
}

#epv .epv-content p {
  margin-top: 30px;
  font-size: 20px;
}

#epv .action-axis {
  text-align: center;
}

#epv .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #epv .epv-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* EPE Section
--------------------------------*/
#epe {
  padding: 60px 0;
  background: url(../img/gray-bg.png) fixed center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  #epe .epe-content {
    padding-top: 30px;
  }
}

#epe .epe-img img.program {
  max-width: 500px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #epe .epe-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#epe .epe-content .targets {
  text-align: center;
}

#epe .epe-content .targets h3, #epe .action-axis h3 {
  font-size: 18px;
}

#epe .epe-content .targets img {
  max-width: 80px;
}

#epe .epe-content p {
  margin-top: 30px;
  font-size: 20px;
}

#epe .action-axis {
  text-align: center;
}

#epe .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #epe .epe-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Awards Section
--------------------------------*/
#awards {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #awards .awards-content {
    padding-top: 30px;
  }
}

#awards .awards-img img.program {
  max-width: 600px;
  display: block;
  position: relative;
  margin: auto;
  top: 50px;
}

/* #awards .awards-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#awards .awards-content .targets {
  text-align: center;
}

#awards .awards-content .targets h3, #awards .action-axis h3 {
  font-size: 18px;
}

#awards .awards-content .targets img {
  max-width: 80px;
}

#awards .awards-content p {
  margin-top: 30px;
  font-size: 20px;
}

#awards .action-axis {
  text-align: center;
}

#awards .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #awards .awards-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Zones Section
--------------------------------*/
#zones {
  padding: 60px 0;
}

#zones .section-header p {
  padding: 0;
}

#zones .zones-img img {
  max-width: 100%;
}

@media (max-width: 991px) {
  #zones .zones-img img {
    max-width: 100%;
  }
}

/* Chiapas Section
--------------------------------*/
#chiapas {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #chiapas .chiapas-content {
    padding-top: 30px;
  }
}

#chiapas .chiapas-img img.program {
  max-width: 100%;
  display: block;
  position: relative;
  margin: auto;
  /* top: 50px; */
}

/* #chiapas .chiapas-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#chiapas .chiapas-content .targets {
  text-align: center;
}

#chiapas .chiapas-content .targets h3, #chiapas .action-axis h3 {
  font-size: 18px;
}

#chiapas .chiapas-content .targets img {
  max-width: 80px;
}

#chiapas .chiapas-content p {
  margin-top: 30px;
  font-size: 20px;
}

#chiapas .action-axis {
  text-align: center;
}

#chiapas .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #chiapas .chiapas-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Yucatan Section
--------------------------------*/
#yucatan {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #yucatan .yucatan-content {
    padding-top: 30px;
  }
}

#yucatan .yucatan-img img.program {
  max-width: 100%;
  display: block;
  position: relative;
  margin: auto;
  /* top: 50px; */
}

/* #yucatan .yucatan-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#yucatan .yucatan-content .targets {
  text-align: center;
}

#yucatan .yucatan-content .targets h3, #yucatan .action-axis h3 {
  font-size: 18px;
}

#yucatan .yucatan-content .targets img {
  max-width: 80px;
}

#yucatan .yucatan-content p {
  margin-top: 30px;
  font-size: 20px;
}

#yucatan .action-axis {
  text-align: center;
}

#yucatan .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #yucatan .yucatan-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* Campeche Section
--------------------------------*/
#campeche {
  padding: 60px 0;
}

@media (max-width: 991px) {
  #campeche .campeche-content {
    padding-top: 30px;
  }
}

#campeche .campeche-img img.program {
  max-width: 100%;
  display: block;
  position: relative;
  margin: auto;
  /* top: 50px; */
}

/* #campeche .campeche-content img.program {
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#campeche .campeche-content .targets {
  text-align: center;
}

#campeche .campeche-content .targets h3, #campeche .action-axis h3 {
  font-size: 18px;
}

#campeche .campeche-content .targets img {
  max-width: 80px;
}

#campeche .campeche-content p {
  margin-top: 30px;
  font-size: 20px;
}

#campeche .action-axis {
  text-align: center;
}

#campeche .action-axis img {
  max-width: 200px;
}

@media (max-width: 991px) {
  #campeche .campeche-img img.program {
    max-width: 100%;
    padding-bottom: 15px;
    top: 0;
  }
}

/* States Section
--------------------------------*/
#states {
  padding: 60px 0 40px 0;
}

#states .section-header{
  text-align: center;
  padding-bottom: 20px;
}

#states .section-header img {
  max-width: 100%;
}

#states .box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
  /* margin: 0 10px 10px 10px; */
  /* background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1); */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#states .box:hover {
  transform: scale(1.1);
}

#states .box img {
  max-width: 100%;
}

#states .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#states .icon i {
  font-size: 36px;
  line-height: 1;
}

#states .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#states .title a {
  color: #111;
}

#states .box:hover .title a {
  color: #1bb1dc;
}

#states .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: #282527;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  color: #e3e3e3;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0a98c0;
  color: #fff;
}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #e3e3e3;
}

#footer .footer-top .footer-links ul a:hover {
  color: #1bb1dc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
  border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #1bb1dc;
  border: 1px solid #1bb1dc;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0a98c0;
}

#footer .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#footer .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#footer .email-form .error-message br + br {
  margin-top: 25px;
}

#footer .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#footer .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#footer .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#footer .email-form input, #footer .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #dce1ec;
  font-size: 14px;
}

#footer .email-form input::focus, #footer .email-form textarea::focus {
  background-color: #1bb1dc;
}

#footer .email-form input {
  padding: 20px 15px;
}

#footer .email-form textarea {
  padding: 12px 15px;
}

#footer .email-form button[type="submit"] {
  background: #1bb1dc;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#footer .email-form button[type="submit"]:hover {
  background: #0a98c0;
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #fff;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}
